<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" href="../../../resources/static/css/login.css">
</head>
<body>
<div class="total_bar">
    <img src="../../static/img/soccer_ball.png" alt="soccer_ball" class="soccer_ball">
    <div class="login_bar">
        <div class="login_bar_title">LOGIN</div>

        <div class="id_bar">
            <div class="enter_id">ID</div>

        </div>
        <div class="password_bar">
            <div class="enter_pw">Password</div>
        </div>

        <div class="login_btn">

            <button class="login_button">
                <a href="" class="log">LOGIN</a>
            </button>
        </div>

        <div class="etc_func">
            <div class="find">
                <a href="" class="find_id/pw">아이디/패스워드 찾기</a>
            </div>
            <div class="new">
                <a href="" class="singup">회원가입</a>
            </div>
        </div>

        <div class="auto_log">
            <div class="auto_frame">

                <div class="rectangle2">

                </div>
            </div>
            <div class="auto_login">아이디 저장</div>
        </div>
    </div>

</div>



</body>
</html>x