<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <div class="all">
        <div class="total_bar">
            <img src="/img/soccer_ball.png" alt="soccer_ball" class="soccer_ball">
            <div class="login_bar">
                <form method="post" action="서버의url" id="login-form">
                    <input id="ID" type="text" name="userName" placeholder="ID">
                    <input id="PW" type="password" name="userName" placeholder="Password">
                    <label for="remember-check">
                        <input type="checkbox" id="remember-check">아이디 저장하기
                    </label>
                </form>
                <div class="login_bar_title">
                    <h2>LOGIN</h2>

                </div>

                <!--        <div class="id_bar">-->


                <!--        </div>-->
                <!--        <div class="password_bar">-->
                <!--            <div class="enter_pw">-->

                <!--            </div>-->
                <!--        </div>-->

                <div class="login_btn">

                    <button class="login_button">
                        <a href="../mainpage/mainpage.html" class="log">LOGIN</a>
                    </button>
                </div>

                <div class="etc_func">
                    <div class="find">
                        <a href="../login/findId.html" class="find_id/pw">아이디/패스워드 찾기</a>
                    </div>
                    <div class="new">
                        <a href="" class="singup">회원가입</a>
                    </div>
                </div>

                <!--        <div class="auto_log">-->
                <!--            <div class="auto_frame">-->

                <!--                <div class="rectangle2">-->

                <!--                </div>-->
                <!--            </div>-->
                <!--            <div class="auto_login">아이디 저장</div>-->
                <!--        </div>-->
            </div>

        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</div>

</body>
</html>
