<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}">
    </div>
    <div class=e130_1352>

        <div class=e130_1426>
            <div class="e130_1427">

            </div>
        </div>
        <div class=e130_1424>
            <div class="e130_1425">

            </div>
        </div>
        <div class=e130_1436>
            <div class=e130_1438>
                <div class=e130_1439>
                    <div class=e130_1440>
                        <span class="e130_1441">Rs. 250,000.00</span>
                        <span class="e130_1442">Asgaard sofa</span>
                        <span class="e130_1443">Rs. 250,000.00</span>
                    </div>
                    <div class=e130_1444>
                        <div class="e130_1445">

                        </div>
                        <div class=e130_1446>
                            <span class="e130_1447">Product</span>
                            <span class="e130_1448">Price</span>
                            <span class="e130_1449">Quantity</span>
                            <span class="e130_1450">Subtotal</span>
                            <div class=e130_1451>
                                <div class="e130_1452">

                                </div>
                                <div class=e130_1453>
                                    <div class=e130_1454>
                                        <div class="e130_1455">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=e130_1456>
                                <div class="e130_1457">

                                </div>
                                <span class="e130_1458">1</span>
                            </div>
                            <div class=e130_1459>
                                <div class="e130_1460">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=e130_1461>
                    <div class="e130_1462">

                    </div>
                    <span class="e130_1463">Cart Totals</span>
                    <span class="e130_1464">Subtotal</span>
                    <span class="e130_1465">Total</span>
                    <span class="e130_1466">Rs. 250,000.00</span>
                    <span class="e130_1467">Rs. 250,000.00</span>
                    <div class=e130_1468>
                        <div class="e130_1469">

                        </div>
                        <span class="e130_1470">Check Out</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>