<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/global.css" rel="stylesheet">
</head>
<body>
<div class="header" th:fragment="bodyHeader" style="width: 1200px; margin: 0 auto;">
    <div class=header_div>
        <div class=e130_1429>
            <span class="e130_1430">About</span>
            <span class="e130_1431">Member</span>
            <span class="e130_1432">Used Trade</span>
            <span class="e130_1433">Board</span>
            <span class="e130_1434">Register</span>
            <span class="e130_1435">Login</span>
        </div>
    </div>
</div>
</body>
</html>
