<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/global.css" rel="stylesheet">
</head>
<body>
<div class="header" th:fragment="bodyHeader">
    <div class="logo-link">
        <a href="/" class="logo-img">
            <img src="/img/logo.png" alt="">
        </a>
    </div>

    <div class="nav">
        <ul class="nav-pills general-menu">
            <li><a href="/about">About</a></li>
            <li><a href="/member">Member</a></li>
            <li><a href="/used/goods/">Trade</a></li>
            <li><a href="board/">Board</a></li>
        </ul>
        <ul class="nav-pills authentication-links">
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/register">REGISTER</a></li>
            <li><a href="/logout">LOGOUT</a></li>
            <li><a href="/mypage/info/"></a></li>
        </ul>
    </div>
</div>
</body>
</html>