<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <div class=e130_1353>
        <div class="e130_1354">

        </div>
        <div class="e130_1355">

        </div>
        <div class=e130_1356>
            <div class=e130_1357>
                <span class="e130_1358">회사소개</span>
                <div class="e130_1359">

                </div>
                <span class="e130_1360">이용약관</span>
                <div class="e130_1361">

                </div>
                <span class="e130_1362">개인청보처리방침</span>
                <div class="e130_1363">

                </div>
                <span class="e130_1364">대량구매문의</span>
                <div class="e130_1365">

                </div>
                <span class="e130_1366">매장안내</span>
            </div>
        </div>
        <div class=e130_1367>
            <div class=e130_1368>
                <span class="e130_1369">운영시간 : WHEN HE WAKE UP</span>
                <span class="e130_1370">채팅문의 : @naoozxy</span>
            </div>
            <span class="e130_1371">010-4729-8501</span>
            <span class="e130_1372">고객센터</span>
            <div class=e130_1373>
                <div class=e130_1374>
                    <span class="e130_1375">대표이사 : 김주안</span>
                    <div class="e130_1376">

                    </div>
                    <span class="e130_1377">경기도 고양시 항공대 대학원</span>
                    <div class="e130_1378">

                    </div>
                    <div class=e130_1379>
                        <span class="e130_1380">사업자등록번호:111-22-00333</span>
                        <div class="e130_1381">

                        </div>
                    </div>
                </div>
                <span class="e130_1382">통신판매업신고 : 2016 - 강서시서울구 - 8888</span>
            </div>
            <div class=e130_1383>
                <span class="e130_1384">고객님은 안전거래를 위해 현금 등으로 결제 시 저희 쇼핑몰에서 가입한 구매 안전서비스로 소비자 피해보상 보험 서비스를 이용하실 수 없습니다.</span>
                <span class="e130_1385">COPYRIGHT ⓒ 2024JOHNNYDESIGN, LTD ALL RIGHTS RESERVED</span>
            </div>
            <span class="e130_1386">(주)좌니 고객센터</span>
            <span class="e130_1387">소비자피해보상</span>
        </div>
    </div>
</div>
</html>