<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <div class="footer">
        <div class="line"></div>
        <div class="frame-12">
            <div class="frame-13">
                <div class="text">회사소개</div>
                <div class="rectangle"></div>
                <div class="text">이용약관</div>
                <div class="rectangle"></div>
                <div class="text">개인청보처리방침</div>
                <div class="rectangle"></div>
                <div class="text">대량구매문의</div>
                <div class="rectangle"></div>
                <div class="text">매장안내</div>
            </div>
        </div>
        <div class="line"></div>
        <div class="frame-14">
            <div class="customer-service">
                <div class="contact-info">
                    <div class="text">고객센터</div>
                    <div class="text">010-4729-8501</div>
                    <div class="frame-18">
                        <div class="text">운영시간 : WHEN HE WAKE UP</div>
                        <div class="text">채팅문의 : @naoozxy</div>
                    </div>
                </div>
                <div class="frame-16">
                    <div class="frame-15">
                        <div class="text">대표이사 : 김멋사</div>
                        <div class="rectangle"></div>
                        <div class="text">경기도 고양시 항공대학교</div>
                        <div class="rectangle"></div>
                        <div class="text">사업자등록번호:111-22-00333</div>
                        <div class="rectangle"></div>
                        <div class="text">통신판매업신고 : 2016 - 강서시서울구 - 8888</div>
                    </div>
                </div>
            </div>
            <div class="frame-19">
                <div class="text">고객님은 안전거래를 위해 현금 등으로 결제 시 저희 쇼핑몰에서 가입한 구매 안전서비스로 소비자 피해보상 보험 서비스를 이용하실 수 없습니다.</div>
                <div class="text">COPYRIGHT ⓒ 2024JOHNNYDESIGN, LTD ALL RIGHTS RESERVED</div>
            </div>
        </div>
    </div>
</div>
</html>